h1{
    font-family: sans-serif, Arial, Helvetica;
    color: rgb(218, 81, 145)
    
}
p{
    font-family: "lucida console", 'Courier New', Courier, monospace;
    font-size: 24;
   color: rgb(155, 66, 153)
}
#p3{
    font-family: "Story Script", Arial, Helvetica, sans-serif
    font-size: 1.2em
    color: rgb(230, 135, 228,)
}